# === Android / Gradle ===
**/build/
**/outputs/
**/.gradle/
**/.externalNativeBuild/
**/.cxx/
**/captures/
local.properties
*.log

# Asegurar que el wrapper de Gradle SÍ se versione
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# === IDE ===
.idea/
*.iml
.vscode/

# === Artefactos ===
*.apk
*.aab
*.ap_
*.hprof
*.aar

# === Claves / secretos (no subir) ===
**/google-services.json
**/*.jks
**/*.keystore
keystore.properties
*.keystore.properties

# === SO ===
.DS_Store
Thumbs.db

# (ya lo cubre **/build/, ejemplo)
# app/build/generated/
