# === Android / Gradle ===
**/build/
.gradle/
local.properties
.externalNativeBuild/
.cxx/
captures/
*.log

# === IDE ===
.idea/
*.iml
.vscode/

# === Artefactos ===
*.apk
*.aab
*.ap_
*.hprof

# === Claves / secretos (no subir) ===
app/google-services.json
**/*.jks
**/*.keystore
keystore.properties

# === SO ===
.DS_Store
Thumbs.db

# (por si acaso, generados de Apollo dentro de build)
app/build/generated/
